<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="header"></div>
<div class="body">
    <div class="lefter"></div>
    <div class="content">
        <form action="/users/loginpost">
            姓名<input type="text" name="username"/><br/>
            密码<input type="password" name="password"/><br/>
            <input type="submit" value="登陆"/>
        </form>
    </div>
    <div class="righter"></div>
</div>
<div class="footer"></div>
</body>
</html>
